<div class="container" *ngIf="(sesssion_observable | async)?.length != 0">

  <div *ngIf="(questions_observable | async)?.length != 0">
    <div class="row mt-1 mb-1">
      <div class="col-12">Question:</div>
    </div>

    <div class="row mt-1 mb-1" *ngFor="let a_question of questions_observable | async">
      <div class="col-4">{{a_question.question}}</div>
      <div class="col-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="answer" [(ngModel)]="given_answer">
        </div>
      </div>
      <div class="col-4"><button class="btn btn-success" (click)="submit_answer(a_question._id)">submit</button></div>
    </div>
    
    <div class="row mt-1 mb-1">
      <div class="col-4"><button class="btn btn-primary" (click)="submit_value('1')">1</button></div>
      <div class="col-4"><button class="btn btn-primary" (click)="submit_value('2')">2</button></div>
      <div class="col-4"><button class="btn btn-primary" (click)="submit_value('3')">3</button></div>
    </div>
    <div class="row mt-1 mb-1">
      <div class="col-4"><button class="btn btn-primary" (click)="submit_value('4')">4</button></div>
      <div class="col-4"><button class="btn btn-primary" (click)="submit_value('5')">5</button></div>
      <div class="col-4"><button class="btn btn-primary" (click)="submit_value('6')">6</button></div>
    </div>  
    <div class="row mt-1 mb-1">
      <div class="col-4"><button class="btn btn-primary" (click)="submit_value('7')">7</button></div>
      <div class="col-4"><button class="btn btn-primary" (click)="submit_value('8')">8</button></div>
      <div class="col-4"><button class="btn btn-primary" (click)="submit_value('9')">9</button></div>
    </div>
    <div class="row mt-1 mb-1">
      <div class="col-4"><button class="btn btn-warning" (click)="submit_clear()">clear</button></div>
      <div class="col-4"><button class="btn btn-primary" (click)="submit_value('0')">0</button></div>
      <div class="col-4"><button class="btn btn-warning" (click)="submit_random()">no idea</button></div>
    </div>

    </div>
   

</div>

<div class="container" *ngIf="(sesssion_observable | async)?.length == 0">

  <div class="row mt-1 mb-1">
    <div class="col-12">Your session has expired - please <a href="/login">log in again</a>.</div>
  </div>

</div>
